.wrap {
  width:40%;
  margin:4em auto;  
}

.fill {
  animation: charge 5s cubic-bezier(.17,.67,.54,.99), 
  changeColor 1s ease-out forwards;
}

@keyframes charge {
  0% {
    transform: scaleX(0.1)
  }
  100% {
    transform: scale(1)
  }
}

@keyframes changeColor {
  0%, 10% {
    fill: red;
  }
  20%, 40% {
    fill: orange;
  }
  41%,80% {
    fill: #63EE63;
  }
  81%,100% {
    fill: #057A05
  }
}